
<div class="modal fade" id="item_modal" tabindex="-1" style="display: none;" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stored Items</h5>
                <button id="modal_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="main-card mb-3 card">
                <div class="card-body">
                    <table id="tbl_items" class="mb-0 table">
                        <thead>
                        <tr>
                            <th>ITEM NAME</th>
                            <th>QTY ON HAND</th>
                            <th>LOT NO.</th>
                            <th>EXPIRY DATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>